body {
  margin: 0;
  font-family: sans-serif;
  margin: 0;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr .5fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  background-color: #ffffff;  
}

#app > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

#app > footer {
  grid-area: footer;
  background-color:#EEEEEE;
  padding: .5em;
}

/* utility */
.area-padding{
  padding: 0.5em;
}

.txt-align-right {
  text-align: right;
}

.txt-align-left {
  text-align: left;
  align-self: left;
  align-content: left;
  align-items: left;
}

.txt-align-center{
  text-align: center;
  align-self: center;
  align-content: center;
  align-items: center;
  justify-self: center;
}


/* lists 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #999999;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.b {
  color: #ff0000;
  list-style-type:square;
  margin: 0 1em ;
}

.active {
  background-color: #000000;
  color: #ffffff;
}*/



li a:hover {
  color: #ffffff;
}

.searchBar {
  color: #999999;
  background-color: #EEEEEE;
  border-radius: 2px;
  height: 5em;
}

/* card */
.row{
  border-top: none;
  font-size: .85rem;
}

.Stack{
  font-size: .85rem;
}

.card-label {
  font-size: .85rem;
  color: #999999;
  display: grid;
}


.card {
  color: #000000;
  border-radius: 2px;
  border: 1px solid #acacac;
  transition: all .1s ease-in-out;
  box-shadow: inset .5em 0em #d6d6d6;
  overflow: hidden;
}


.card-margin{
  grid-template-columns: 1fr 3.25fr .75fr .75fr 2fr 1fr;
  grid-gap: 1em;
  margin:  0 1rem .5rem;
  padding-left: 2em;
}

.card.acct{
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 50rem;
}

.card.acct img{
  width: 3em;
  height: 3em;
}

.nested{
  align-items: center;
  background-color: #ffc8c8;
}

.row img {
  width: 4em;
  height: 4em;
  object-fit: cover;
  margin: .5em;
}

.card:hover {
  transform: scale(1.01);
  color:#000000;
  border: 1px solid #000000;
  box-shadow: inset 0.5em 0em #000000;
}

/* buttons */
.btn {
  width: fit-content;
  height: 3em;
  margin: 10px;
  border: none;
}

.btn.sm {
  width: fit-content;
  height: 30px;
  color: #999999;
  white-space: nowrap;
}

.btn.blk {
  color: #999999;
  background:#333333;
  font-size: 1.15rem;
  width: 6rem;
  height: 2em;
  border-radius: 5px;
}

.btn.blk:hover {
  color: #ffffff;
  background:#333333;
  
}

.btn:hover {
  background-color: #d6d6d6;
  color: #000000;
}

.btn.green {
  background-color: #00f200;
}

.btn.green:hover {
  background-color: #00e400 ;
}

.btn.round {
  border-radius: 3px;
}

#btn-signout{
  background-color: #333;
  color: #999999;
  border: none;
  float: right;
}

#btn-signout:hover{
  color: #ffffff;
}

/* pagination */
.pagination-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination-btn a {
  padding: 10px;
  border-radius: 2px;
  color: #999999;
}

.pagination-btn a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

/* shrink page */
@media (max-width: 600px){
  .card-label {
    grid-template-columns: 0.55fr 2.5fr 0fr 0.5fr 1.5fr;
  }

  .card {
    display: grid;
    grid-template-rows: 1fr;
  }

  .nested {
    grid-template-rows: 1fr 1fr;
    white-space:normal;
    overflow: visible;
  }

  .card img {
    width: 8em;
    height: 8em;
    grid-template-rows: 1fr 1fr;
  }

}
