
.view-report-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .7)
}

.view-report-inner {
    display: grid;
    grid-template-rows: .25fr.5fr 1.5fr 3fr 1fr .5fr ;
    grid-gap: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 750px;
    height: 85vh;
    z-index: 1000;
    background: rgb(255, 255, 255);
    padding: 10px;
    overflow: auto;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.col-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: .5em 2em .5em 2em;
    font-size: .75rem;
}

.col-4{
    display: grid;
    grid-template-columns: .5fr repeat(4, 1fr);
    grid-gap: 1em;
    padding:.5em;
    font-size: .75rem;
    text-align: left;
    line-height: 2em;  
}

.row{
    border-top: solid .2em #f0f0f0;
    grid-gap: .5em;
    padding: .5em 2em 1em 2em;
    font-size: .75rem;
}

.row-4{
    display: grid;
    grid-template-rows: .5fr repeat(3, auto);
}

.row img{
    width: 8em;
    height: 8em;
    object-fit: cover;
}

h{
    margin: .5em .1em 1em;
    font-weight: bold;
    color: #666666;
    font-size: 1rem;
}

h1{
    color: #999999;
}

h.modal-header{
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: 1rem;
}

.var-box{
border: solid 1px #acacac;
padding: 1em;
margin: .5em .1em 2em;
border-radius: 5px;
}







